In [149]:
import pandas as pd
import glob
pd.options.mode.chained_assignment = None

In [150]:
files = glob.glob('../pomiary/F10/f10_[0-9]*.xlsx')
files

['../pomiary/F10/f10_3p.xlsx',
 '../pomiary/F10/f10_2z.xlsx',
 '../pomiary/F10/f10_1p.xlsx',
 '../pomiary/F10/f10_3z.xlsx',
 '../pomiary/F10/f10_2p.xlsx',
 '../pomiary/F10/f10_1z.xlsx']

In [151]:
df1 = pd.read_excel(files[0])
df1.sort_values(by='timestamp')
df1['before__x'] = df1['reference__x']
df1['before__y'] = df1['reference__y']
df1['before__x'] = df1.shift(1)['data__coordinates__x']
df1['before__y'] = df1.shift(1)['data__coordinates__y']
df1['before__x'][0] = df1['data__coordinates__x'][0]
df1['before__y'][0] = df1['data__coordinates__y'][0]

In [152]:
df2 = pd.read_excel(files[2])
df2.sort_values(by='timestamp')
df2['before__x'] = df2['reference__x']
df2['before__y'] = df2['reference__y']
df2['before__x'] = df2.shift(1)['data__coordinates__x']
df2['before__y'] = df2.shift(1)['data__coordinates__y']
df2['before__x'][0] = df2['data__coordinates__x'][0]
df2['before__y'][0] = df2['data__coordinates__y'][0]

In [153]:
df3 = pd.read_excel(files[3])
df3.sort_values(by='timestamp')
df3['before__x'] = df3['reference__x']
df3['before__y'] = df3['reference__y']
df3['before__x'] = df3.shift(1)['data__coordinates__x']
df3['before__y'] = df3.shift(1)['data__coordinates__y']
df3['before__x'][0] = df3['data__coordinates__x'][0]
df3['before__y'][0] = df3['data__coordinates__y'][0]

In [154]:
df4 = pd.read_excel(files[5])
df4.sort_values(by='timestamp')
df4['before__x'] = df4['reference__x']
df4['before__y'] = df4['reference__y']
df4['before__x'] = df4.shift(1)['data__coordinates__x']
df4['before__y'] = df4.shift(1)['data__coordinates__y']
df4['before__x'][0] = df4['data__coordinates__x'][0]
df4['before__y'][0] = df4['data__coordinates__y'][0]

In [155]:
df5 = pd.read_excel(files[1])
df5.sort_values(by='timestamp')
df5['before__x'] = df5['reference__x']
df5['before__y'] = df5['reference__y']
df5['before__x'] = df5.shift(1)['data__coordinates__x']
df5['before__y'] = df5.shift(1)['data__coordinates__y']
df5['before__x'][0] = df5['data__coordinates__x'][0]
df5['before__y'][0] = df5['data__coordinates__y'][0]

In [156]:
df6 = pd.read_excel(files[4])
df6.sort_values(by='timestamp')
df6['before__x'] = df6['reference__x']
df6['before__y'] = df6['reference__y']
df6['before__x'] = df6.shift(1)['data__coordinates__x']
df6['before__y'] = df6.shift(1)['data__coordinates__y']
df6['before__x'][0] = df6['data__coordinates__x'][0]
df6['before__y'][0] = df6['data__coordinates__y'][0]

In [157]:
df1[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,3933,666,3900.000000,300.0,3933.0,666.0
1,3914,645,3909.160305,300.0,3933.0,666.0
2,3896,660,3918.320611,300.0,3914.0,645.0
3,3906,623,3927.480916,300.0,3896.0,660.0
4,3950,612,3936.641221,300.0,3906.0,623.0

In [158]:
df2[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,4109,583,3900.000000,300.0,4109.0,583.0
1,4142,576,3909.125475,300.0,4109.0,583.0
2,4106,595,3918.250951,300.0,4142.0,576.0
3,4156,651,3927.376426,300.0,4106.0,595.0
4,4109,653,3936.501901,300.0,4156.0,651.0

In [159]:
df3[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,4079,534,3900.000000,300.0,4079.0,534.0
1,4070,538,3891.078067,300.0,4079.0,534.0
2,4078,554,3882.156134,300.0,4070.0,538.0
3,4064,587,3873.234201,300.0,4078.0,554.0
4,4011,539,3864.312268,300.0,4064.0,587.0

In [160]:
df4[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,4109,545,3900.000000,300.0,4109.0,545.0
1,4082,461,3891.695502,300.0,4109.0,545.0
2,4096,485,3883.391003,300.0,4082.0,461.0
3,4073,444,3875.086505,300.0,4096.0,485.0
4,4071,457,3866.782007,300.0,4073.0,444.0

In [161]:
df5[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,4107,590,3900.000000,300.0,4107.0,590.0
1,4067,583,3890.361446,300.0,4107.0,590.0
2,4028,608,3880.722892,300.0,4067.0,583.0
3,4032,582,3871.084337,300.0,4028.0,608.0
4,4009,597,3861.445783,300.0,4032.0,582.0

In [162]:
df6[['data__coordinates__x','data__coordinates__y','reference__x','reference__y','before__x','before__y']].head()

,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,3991,568,3900.000000,300.0,3991.0,568.0
1,4004,609,3908.219178,300.0,3991.0,568.0
2,3936,631,3916.438356,300.0,4004.0,609.0
3,3941,653,3924.657534,300.0,3936.0,631.0
4,4005,633,3932.876712,300.0,3941.0,653.0

In [163]:
df_train = pd.concat([df1,df2,df3,df4])
df_test = pd.concat([df5,df6])

In [164]:
df_test

,Unnamed: 0.1,Unnamed: 0,version,alive,tagId,success,timestamp,data__tagData__gyro__x,data__tagData__gyro__y,data__tagData__gyro__z,...,data__metrics__rates__update,data__metrics__rates__success,data__coordinates__x,data__coordinates__y,data__coordinates__z,reference__x,reference__y,before__x,before__y,errorCode
0,0,0,1,True,26437,True,1.609322e+09,-1.9375,0.0000,-19.1875,...,27.880,27.880,4107,590,1000,3900.000000,300.0,4107.0,590.0,NaN
1,1,1,1,True,26437,True,1.609322e+09,-8.0000,7.8750,25.5625,...,27.968,27.968,4067,583,1000,3890.361446,300.0,4107.0,590.0,NaN
2,2,2,1,True,26437,True,1.609322e+09,5.1875,-5.9375,-22.2500,...,28.065,28.065,4028,608,1000,3880.722892,300.0,4067.0,583.0,NaN
3,3,3,1,True,26437,True,1.609322e+09,-8.6875,-4.0625,-21.8125,...,28.157,28.158,4032,582,1000,3871.084337,300.0,4028.0,608.0,NaN
4,4,4,1,True,26437,True,1.609322e+09,1.7500,-2.0000,16.0000,...,28.078,28.077,4009,597,1000,3861.445783,300.0,4032.0,582.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,2365,2365,1,True,26437,True,1.609322e+09,24.0000,8.9375,11.6875,...,28.069,28.069,4104,529,1000,3866.197183,300.0,4060.0,586.0,NaN
2365,2366,2366,1,True,26437,True,1.609322e+09,-20.8125,-5.9375,2.4375,...,28.123,28.123,4065,544,1000,3874.647887,300.0,4104.0,529.0,NaN
2366,2367,2367,1,True,26437,True,1.609322e+09,-18.9375,-1.1250,2.6250,...,28.158,28.158,4037,537,1000,3883.098592,300.0,4065.0,544.0,NaN
2367,2368,2368,1,True,26437,True,1.609322e+09,-19.2500,-0.5625,-16.6250,...,28.210,28.210,4097,585,1000,3891.549296,300.0,4037.0,537.0,NaN
2368,2369,2369,1,True,26437,True,1.609322e+09,19.6250,3.6875,6.0000,...,28.257,28.257,4131,672,1000,3900.000000,300.0,4097.0,585.0,NaN

In [165]:
df_train

,Unnamed: 0.1,Unnamed: 0,version,alive,tagId,success,timestamp,data__tagData__gyro__x,data__tagData__gyro__y,data__tagData__gyro__z,...,data__metrics__rates__update,data__metrics__rates__success,data__coordinates__x,data__coordinates__y,data__coordinates__z,reference__x,reference__y,before__x,before__y,errorCode
0,0,0,1,True,26437,True,1.609322e+09,-12.4375,-1.4375,9.6875,...,29.037,29.037,3933,666,1000,3900.000000,300.0,3933.0,666.0,NaN
1,1,1,1,True,26437,True,1.609322e+09,-8.5000,-1.6250,1.5000,...,29.081,29.081,3914,645,1000,3909.160305,300.0,3933.0,666.0,NaN
2,2,2,1,True,26437,True,1.609322e+09,8.3750,-0.3750,3.0000,...,29.119,29.119,3896,660,1000,3918.320611,300.0,3914.0,645.0,NaN
3,3,3,1,True,26437,True,1.609322e+09,1.5625,1.3125,4.8125,...,29.114,29.114,3906,623,1000,3927.480916,300.0,3896.0,660.0,NaN
4,4,4,1,True,26437,True,1.609322e+09,-3.6250,2.5625,-7.2500,...,29.150,29.150,3950,612,1000,3936.641221,300.0,3906.0,623.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2490,2490,2490,1,True,26437,True,1.609323e+09,20.5625,-9.2500,0.3750,...,28.180,28.180,3877,446,1000,3931.578947,300.0,3963.0,557.0,NaN
2491,2491,2491,1,True,26437,True,1.609323e+09,28.7500,28.1250,-26.4375,...,28.268,28.268,3925,450,1000,3923.684211,300.0,3877.0,446.0,NaN
2492,2492,2492,1,True,26437,True,1.609323e+09,14.0625,39.5625,-26.3750,...,28.230,28.230,3996,310,1000,3915.789474,300.0,3925.0,450.0,NaN
2493,2493,2493,1,True,26437,True,1.609323e+09,16.5000,26.1250,8.5000,...,28.244,28.244,3968,498,1000,3907.894737,300.0,3996.0,310.0,NaN
2494,2494,2494,1,True,26437,True,1.609323e+09,33.5000,22.7500,21.4375,...,28.261,28.261,4017,366,1000,3900.000000,300.0,3968.0,498.0,NaN

In [166]:
df_train =df_train.drop(['Unnamed: 0','Unnamed: 0.1','alive','success','timestamp','data__anchorData','version','tagId','data__coordinates__z','errorCode','data__tagData__maxLinearAcceleration','data__tagData__pressure'],axis='columns')

In [167]:
df_test =df_test.drop(['Unnamed: 0','Unnamed: 0.1','alive','success','timestamp','data__anchorData','version','tagId','data__coordinates__z','errorCode','data__tagData__maxLinearAcceleration','data__tagData__pressure'],axis='columns')

In [168]:
df_test

,data__tagData__gyro__x,data__tagData__gyro__y,data__tagData__gyro__z,data__tagData__magnetic__x,data__tagData__magnetic__y,data__tagData__magnetic__z,data__tagData__quaternion__x,data__tagData__quaternion__y,data__tagData__quaternion__z,data__tagData__quaternion__w,...,data__orientation__pitch,data__metrics__latency,data__metrics__rates__update,data__metrics__rates__success,data__coordinates__x,data__coordinates__y,reference__x,reference__y,before__x,before__y
0,-1.9375,0.0000,-19.1875,-2.0000,-13.6875,-49.5625,-0.041870,0.011963,0.994446,-0.095764,...,-0.032,36.1,27.880,27.880,4107,590,3900.000000,300.0,4107.0,590.0
1,-8.0000,7.8750,25.5625,-2.0000,-13.6875,-49.5625,-0.042419,0.009949,0.993347,-0.106323,...,-0.028,35.3,27.968,27.968,4067,583,3890.361446,300.0,4107.0,590.0
2,5.1875,-5.9375,-22.2500,-2.0000,-12.5625,-50.0000,-0.042358,0.009399,0.994019,-0.100098,...,-0.026,34.6,28.065,28.065,4028,608,3880.722892,300.0,4067.0,583.0
3,-8.6875,-4.0625,-21.8125,-1.6875,-12.1875,-48.3750,-0.041931,0.008545,0.994507,-0.095642,...,-0.024,37.3,28.157,28.158,4032,582,3871.084337,300.0,4028.0,608.0
4,1.7500,-2.0000,16.0000,-1.6875,-12.1875,-48.3750,-0.044189,0.005188,0.994263,-0.097412,...,-0.019,44.5,28.078,28.077,4009,597,3861.445783,300.0,4032.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,24.0000,8.9375,11.6875,8.5625,10.5625,-49.5625,-0.017029,-0.057190,-0.246094,-0.967407,...,-0.063,44.9,28.069,28.069,4104,529,3866.197183,300.0,4060.0,586.0
2365,-20.8125,-5.9375,2.4375,8.5625,11.2500,-48.7500,-0.013611,-0.055542,-0.245789,-0.967651,...,-0.052,37.3,28.123,28.123,4065,544,3874.647887,300.0,4104.0,529.0
2366,-18.9375,-1.1250,2.6250,9.0000,11.6875,-50.0625,-0.013855,-0.056396,-0.245728,-0.967590,...,-0.055,35.8,28.158,28.158,4037,537,3883.098592,300.0,4065.0,544.0
2367,-19.2500,-0.5625,-16.6250,9.0000,11.6875,-50.0625,-0.013489,-0.056641,-0.244080,-0.968018,...,-0.053,38.5,28.210,28.210,4097,585,3891.549296,300.0,4037.0,537.0
2368,19.6250,3.6875,6.0000,9.5625,11.5625,-48.7500,-0.014038,-0.056274,-0.244629,-0.967896,...,-0.055,34.5,28.257,28.257,4131,672,3900.000000,300.0,4097.0,585.0

In [169]:
df_columns = df_test.columns.to_list()

In [170]:
df_columns[24],df_columns[26] = df_columns[26],df_columns[24]

In [171]:
df_columns[25],df_columns[27] = df_columns[27],df_columns[25]

In [172]:
df_train2 = df_train[df_columns]

In [173]:
df_test2 = df_test[df_columns]

In [174]:
df_test2.to_csv("formatted_df_version2_Train_F10.csv",index=False)

In [175]:
df_train2.to_csv("formatted_df_version2_Test_F10.csv",index=False)